.navigation-tabs-group {
  min-height: 4vh;
  overflow-x: auto;
  overflow-y: hidden;
  background: #edeeee;
  margin: 1rem 0 0 0;
}

.navigation-tab {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: fit-content;
  padding: 0.5rem 0.9rem;
  overflow: hidden;
  user-select: none;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  z-index: 500;
  user-select: none;
}

mdc-tab {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  max-width: fit-content;
  padding: 0 1rem;
  overflow: hidden;
  user-select: none;
}

.mat-mdc-tab-header-pagination-before, .mat-mdc-tab-header-pagination-after {
  background: pink;

    :hover {
    background: lightblue;
  }
}