<mat-tab-group
  class="navigation-tab-group"
  [(selectedIndex)]="selectedTabIndex"
  (cdkDropListDropped)="drop($event)"
  cdkDropListElementContainer=".mat-mdc-tab-labels"
  headerPosition="below"
  cdkDropList
  cdkScrollable
  cdkDropListOrientation="horizontal"
  animationDuration="200ms"
  mat-stretch-tabs="false"
>
  @for (tab of tabs; track $index) {
    <mat-tab id="{{tab.name}}{{tab.index}}">
      <ng-template mat-tab-label>
        <div
          class="navigation-tab"
          cdkDrag
          cdkDragBoundary=".navigation-tab-group"
          cdkDragPreviewClass="navigation-tab-preview"
          cdkDragRootElement=".mat-mdc-tab"
        >
          <div
            class="navigation-tab-placeholder"
            *cdkDragPlaceholder
          >
            {{ tab.name }}
          </div>
          {{ tab.name }}
        </div>
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>
