<mat-tab-group
  class="navigation-tabs-group"
  cdkDropList
  headerPosition="below"
  cdkDropListOrientation="horizontal"
  dynamicHeight="false"
  cdkDropListElementContainer=".mat-mdc-tab-labels"
  mat-stretch-tabs="false"
  animationDuration="200ms"
  selectedIndex="defaultTabSelection"
  (cdkDropListDropped)="drop($event)"
  (selectedTabChange)="switchTabs($event)"
>
  <mat-tab class="navigation-tab all-tab" label="All">
      <span class="all-tab"></span>
  </mat-tab>
  @for (tab of tabs; track $index;) {
    <mat-tab id="navigation-tab-{{$index}}" class="navigation-tab" label="{{tab.name}}">
      <ng-template mat-tab-label>
        <div
          class="navigation-tab"
          cdkDrag
          cdkDragBoundary=".navigation-tabs-group"
          cdkDragRootElement=".mat-mdc-tab"
        >
          {{tab.name}}
        </div>
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>
