.navigation-tabs-group {
  min-height: 6vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.mat-mdc-tab-group.mat-mdc-tab-group-inverted-header .mat-mdc-tab-header {
  flex-direction: column;
}

.navigation-tab {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: fit-content;
  padding: 0.5rem 0.9rem;
  overflow: hidden;
  user-select: none;
  border: solid 1px gray;
  border-bottom: solid 1px darkblue;
  background: whitesmoke;
}

.navigation-tab-name {
    user-select: none;
}

.all-tab {
    user-select: none;
}

.mdc-tab {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  max-width: fit-content;
  padding: 0 1rem;
  overflow: hidden;
  user-select: none;
}

.mat-mdc-tab-header-pagination-before, .mat-mdc-tab-header-pagination-after {
  background: pink;
  padding-left: 4px;

    :hover {
    background: lightblue;
  }
}