.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: whitesmoke;
  border-bottom: solid 0.3rem rgb(61, 61, 61);
  border-right: solid 0.3rem rgb(61, 61, 61);
  border-top: solid 0.15rem gray;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0.5rem 0.25rem 2rem black;
}

form {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

input { 
  display: inline-flex;
  font-size: x-large;
  border-width: 2px;
  border-color: transparent;
  background: whitesmoke;
  line-height: 2.5rem;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:focus {
    position: absolute;
    min-width: 64vh;
    background: whitesmoke;
    border-width: 2px;
    border-color: gray;
    border-radius: 0.25rem;
    overflow-x: visible;
    z-index: 10;
    text-overflow: overflow;
    overflow: visible;
  }

  &:hover {
    background: whitesmoke;
    border-width: 2px;
    border-color: gray;
    border-radius: 0.25rem;
    z-index: 200;
  }
}

.end-controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.control-button {
  color: black;
  background: whitesmoke;
  border-radius: 0;
}

.favorited {
  color: #ff4868;
}

.viewer-mode {
  color: #1e88e5;
}

.editor-mode {
  color: #4fad89;
}

.admin-mode {
  color: #ffc343;
}