.adjustable-port {
  display: flex;
  flex-direction: row;
  height: 82vh;
  padding: 0 1rem 0 0;
}

.selection-list-panel {
  display: flex;
  flex-direction: column;
  min-width: 0.5rem;
  max-width: 50%;
  overflow: hidden;
  background: whitesmoke;
  border-top: solid 0.1rem gray;
  border-bottom: solid 0.18rem rgb(61, 61, 61);
  text-overflow: ellipsis;
  transition: width 50ms;
  z-index: 200;
}

.drag-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8rem;
  margin: 0 0.5rem 0 0;
  background: lightgray;
  border-top: solid 0.1rem gray;
  border-right: solid 0.25rem rgb(61, 61, 61);
  border-bottom: solid 0.18rem rgb(61, 61, 61);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: col-resize;
  z-index: 100;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.5rem;
    overflow: visible;
    z-index: 100;
  }
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

.content-view-port {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.chevron-icon-aimed-left {
  overflow: visible;
  margin: 1rem 0 1rem 1rem;
  z-index: 10;
  animation-name: toggleAim;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.chevron-icon-aimed-right {
  overflow: visible;
  z-index: 10;
  animation-name: toggleAim;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes toggleAim {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
    transform: rotate(-180deg);
  }
}
