.canopy-trails-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.overview-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.15rem 0 1rem 0;
}

overview-header {
  display: flex;
  width: 99%;
}

view-port {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.underview-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}