div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

span {
  display: block;
}

.canopy-trails-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}