div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

span {
  display: block;
}

.canopy-trails-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.view-port-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
}

.underview-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}