<mat-tree
#tree
[dataSource]="dataSource"
[childrenAccessor]="childrenAccessor"
>
  <mat-tree-node 
    *matTreeNodeDef="let node"
    matTreeNodePadding
    (click)="SelectNode(node)"
  >
    <mat-icon [class.selected]="selectedNode() === node.index">
      eco
    </mat-icon>
    <div class="node-name" [class.selected-node]="selectedNode() === node.index">
      {{node.name}}
    </div>
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodeToggle
    [cdkTreeNodeTypeaheadLabel]="node.name"
    (click)="SelectNode(node)"
  >
    <mat-icon [class.selected]="selectedNode() === node.index">
      {{IsForest(node) ? 'forest' : 'park'}}
    </mat-icon>
    <div class="node-name" [class.selected-node]="selectedNode() === node.index">
      {{node.name}}
    </div>
  </mat-tree-node>
</mat-tree>