mat-tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem 0 0;
  background: whitesmoke;
  overflow: hidden;
  font-weight: 800;
}

mat-tree-node {
  min-width: 10h;
  width: fit-content;
  gap: 0.33rem;
  background: whitesmoke;
  cursor: pointer;
  user-select: none;
  font-weight: 800;
  white-space: nowrap;

  &:hover {
    background: rgb(212, 212, 212);
  }
}

.selected {
  color: #4fad89;
  font-size: x-large;
  font-weight: 800;
}

.node-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-node {
  color: #4fad89;
}