<div class="adjustable-port">
  <mat-sidenav-container>
    <mat-sidenav
      class="selection-list-panel"
      #sideNavSelectorPanel
      mode="side"
      opened="true"
    >
      <selection-list></selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="inner-port view-port-panel">
        <p>This is the view port area!</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <button
    matIconButton
    class="chevron-icon-aimed-right end-controls"
    matTooltip="Toggle selector panel"
    #chevronIconButton
    (click)="ToggleSelectorPanel()"
    [ngClass]="{'chevron-icon-aimed-left' : isOpened}"
  >
    <mat-icon>double_arrow</mat-icon>
  </button>
  
  <div class="control-panel-container">
    <control-panel></control-panel>
  </div>
</div>


