<div class="adjustable-port">
  <div
    class="selection-list-panel"
    #sideNavSelectorPanel
    [style.width]="currentSideBarWidth()"
    [style.min-width]="sideBarMinWidth"
    [style.padding]="selectionPanelPadding()"
  >
    <selection-list></selection-list>
  </div>
  <div
    cdkDrag
    cdkDragLockAxis="x"
    (dblclick)="ToggleSelectorPanel()"
    (cdkDragMoved)="onDragMoved($event)"
    class="drag-handle"
  >
    <mat-icon>play_arrow</mat-icon>
  </div>
  <div class="content-view-port">
    <div class="content-list-container">
      @for (item of ViewPortContentList; track $index) {
        <div>{{item.name}}</div>
      }
      @empty {
        <div>No items found</div>
      }
    </div>
  </div>
</div>
